<div class="heading">
	        <ng-container *ngTemplateOutlet="headerTemplate ? headerTemplate : defaultHeader"></ng-container>
</div>
<div class="body">
	        <ng-container *ngTemplateOutlet="bodyTemplate ? bodyTemplate : defaultBody"></ng-container>
</div>
<div class="footer">
	        <ng-container *ngTemplateOutlet="footerTemplate ? footerTemplate : defaultFooter"></ng-container>
</div>

<ng-template #defaultHeader>Some header...</ng-template>
<ng-template #defaultBody>Some body...</ng-template>
<ng-template #defaultFooter>Some footer...</ng-template>